<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h1>Mapa..</h1>
        </div>
		<p>Paragraph <em>emphasis</em> <strong>strong</strong> <a>link</a>... </p>
    </div>
</div>

<br />
<div class="row">
    <div class="col-md-2" ng-controller="MenuController" id="examples-menu">
       
       <h2>Map info</h2>
		<p>Text text text text text text text text text text text text <strong>text text text text text</strong> text text text text text text text text text text <span class="label label-primary">&lt;text&gt;</span> <span class="label label-warning">text</span> text text text text text text text text text text text text.</p>
       
        <ul class="nav nav-pills nav-stacked">
            <li><a ng-href="#!/" data-target="#examples- menu" data-toggle="tab">button1</a></li>
            <li><a ng-href="#!/" data-target="#examples- menu" data-toggle="tab">button2</a></li>
            <li><a ng-href="#!/" data-target="#examples- menu" data-toggle="tab">button3</a></li>
        </ul>
    </div>
    
    
    <div class="col-md-10" ng-controller="MapController">
		<leaflet id="map" center="center" markers="markers" defaults="defaults" layers="layers" geojson="geojson" legend="legend"></leaflet>
		
		<h3>Search form</h3>
		<form class="form-inline" role="form">
			<div class="form-group">
				<div class="control-group col col-lg-3">
					<label for="search1" class="control-label">search1</strong>
				</div>
				<div class="control-group col col-lg-4">
					<div class="input-group">
						<span class="input-group-addon">input1</span>
						<input class="form-control" type="text" ng-model="input.field1" ng-change="change(input.field1)" />
					</div>
				</div>
				<div class="control-group col col-lg-4">
					<div class="input-group">
						<span class="input-group-addon">input2</span>
						<input class="form-control" type="text" ng-model="input.field2" ng-change="change(input.field2)"/>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="control-group col col-lg-3">
					<label for="mapCenter" class="control-label">search2</strong>
				</div>
				<div class="control-group col col-lg-4">
					<div class="input-group">
						<span class="input-group-addon">input3</span>
						<input class="form-control" type="text" ng-model="input.field3" ng-change="change(input.field3)" />
					</div>
				</div>
				<div class="control-group col col-lg-4">
					<div class="input-group">
						<span class="input-group-addon">input4</span>
						<input class="form-control" type="text" ng-model="input.field4" ng-change="change(input.field4)"/>
					</div>
				</div>
			</div>
    	</form>
    	
    	<div class="col col-md-12">
    		<h3> Searching for: 
				<span ng-model="searchText">{{input.field1}}</span>, 
				<span ng-model="searchText">{{input.field2}}</span>, 
				<span ng-model="searchText">{{input.field3}}</span>, 
				<span ng-model="searchText">{{input.field4}}</span>.
			</h3>
    		<button type="button" class="btn btn-primary col-lg-4" ng-click="search()">Search</button>
    		
    		<button type="button" class="btn btn-primary col-lg-4" ng-click="testJSON()">Test getting geoJSON from Postgres</button>
    		
    		<br><br><br>
    	</div>
    	
    	
    	<h3>Results, info</h3>

		<ul class="nav nav-tabs">
			<li class="active"><a href="" ng-click="activeTab='html'" data-toggle="tab">Pane 1</a></li>
			<li><a href="" ng-click="activeTab='javascript'" data-toggle="tab">Pane 2</a></li>
			<li><a href="" ng-click="activeTab='newmap'" data-toggle="tab">Pane 3</a></li>
		</ul>
		<div class="tab-container" ng-switch on="activeTab">
			<div hljs hljs-source="result" ng-switch-default></div>
			<!--<div><span ng-model="resultPane">{{result}}</span></div>-->
			<div hljs ng-switch-when="javascript" include="'website/src/js/controllers/MapController.js'"></div>
			<div ng-switch-when="newmap"><leaflet id="pane-map"></leaflet></div>
		</div>
		
	</div>

</div>
